.header { 
    margin: 0;
    width: 100%;
    height: 7rem;
    background-color: $colour-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    color: $colour-secondary;
    & h1 {
        margin-left: 1rem;
    }
    .navbar {
        margin-bottom: 1rem;
        & a {
            margin: 0 1rem 0 1rem;
            color: $colour-secondary;
        }
    }
    .border{
        position: relative;
        padding-bottom: 0.3rem;
    }
    
    .border:hover:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        border-bottom: solid 1px $colour-secondary;
        animation: leftToRight 500ms ease-in forwards;
    }
}

@keyframes leftToRight {
    20% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


//RESPONSIVE 
@media screen and (max-width: 700px) {
    .header {
        flex-direction: row;
        .navbar {
            display: none;
            visibility: hidden;
        }
        &__nav {
            width: 40%;
            display: flex;
            justify-content: space-between;
            a::before {
                content: '';
                position: absolute;
                top: -2px;
                left: 50%;
                width: 100%;
                height: 1px;
                opacity: 0;
                background-color: $colour-secondary;
                transform-origin: center;
                transform: translate(-50%, 0) scaleX(0);
                transition: all 0.3s ease-in-out;
              }
              
              a:hover::before {
                transform: translate(-50%, 0) scaleX(1);
                opacity: 1;
              }
              a:hover {
                transition: 300ms;
                color: $colour-secondary;
              }
        }
        /* Close btn */
        &__closeBtn {
            position: absolute;
            top: 0;
            right: 0;
            margin: 1rem;
            font-size: 2rem;
            cursor: pointer;
         }
    
        &__burgerNav {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 1;
            top: 0;
            right: -250px;
            align-self: flex-end;
            background-color: $colour-primary;
            padding-top: 60px;
            transition: right 0.5s ease;
            z-index: 2;
            /* Sidenav menu links */
            & a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: $colour-secondary;
                display: block;
                transition: 0.3s;
            }
    
            & a::after {
                content: "";
                transform: translateX();
            }
    
            & a:hover {
                color: $colour-tertiary;
            }
    
        /* Active class */
          &.active {
            right: 0;
          }
        }
    
        /* Icône burger */
        #open-btn {
            width: 35px;
            padding: 1rem;
        }
        .burger-icon span {
            display: block;
            text-align: right;
            width: 35px;
            height: 5px;
            background-color: $colour-secondary;
            margin: 6px 0;
            margin-right: 2rem;
        }
    
        /* Cache le menu burger + nav */
        .heaver__burgerNav, .burger-icon {
            display: block;
            visibility: visible;
        }
        }
        .mobile {
            display: none;
            visibility: hidden;
        }
    }

@media screen and (min-width: 700px) {
    .header__burgerNav {
        display: none;
        visibility: hidden;
    }
}